<nz-card class="base-card" nzTitle="News Management" [nzExtra]="extraContentTemplate">
    <ng-template #extraContentTemplate>
        <button nz-button nzType="primary" [routerLink]="'create'" [nzSize]="'large'">
            <i nz-icon nzType="plus-square"></i>
            Create
        </button>
    </ng-template>
    <nz-space class="wfull" nzDirection="vertical">
        <div *nzSpaceItem>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="Search by title, author..." [(ngModel)]="filterText" (input)="filterNews()" />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch>Search</button>
            </ng-template>
        </div>
        <div *nzSpaceItem>
            <nz-table
                #borderedTable
                nzBordered
                nzTableLayout="fixed"
                [nzFrontPagination]="false"
                [nzTotal]="totalNews"
                [nzData]="newsListFiltered"
                [nzPageSize]="pageSize"
                [nzPageIndex]="pageIndex"
                [nzNoResult]="emptyDataTemplate"
                [nzPageSizeOptions]="pageSizeOptions"
                [nzShowSizeChanger]="true"
                [nzLoading]="tableLoading"
                (nzPageIndexChange)="updatePageIndex($event)"
                (nzPageSizeChange)="updatePageSize($event)"
            >
                <ng-template #emptyDataTemplate>
                    <nz-empty></nz-empty>
                </ng-template>
                <thead>
                    <tr>
                        <th nzEllipsis>Title</th>
                        <th nzWidth="150px">Date</th>
                        <th nzWidth="130px">Edit Status</th>
                        <th nzWidth="150px">Tags</th>
                        <th nzWidth="250px">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let news of newsListFiltered">
                        <td nzEllipsis>
                            <h5 nz-typography nzEllipsis>{{ news.title }}</h5>
                        </td>
                        <td nzEllipsis>
                            <span nz-typography nzType="secondary">{{ news.date }}</span>
                        </td>
                        <td nzEllipsis>
                            <nz-tag [nzColor]="news.edited == false ? 'green' : 'blue'">
                                <strong>{{ news.edited == false ? 'NOT EDITED' : 'EDITED' }}</strong>
                            </nz-tag>
                        </td>
                        <td>
                            <div *ngIf="news.tags.length == 0; else tagsBlock">
                                <nz-tag [nzColor]="'red'"><strong>NO TAGS</strong></nz-tag>
                            </div>
                        </td>
                        <td>
                            <nz-space>
                                <button *nzSpaceItem nz-button nzType="primary" [routerLink]="'edit/' + news.id">
                                    <span nz-icon nzType="edit"></span>
                                    Edit
                                </button>
                                <button
                                    *nzSpaceItem
                                    nz-button
                                    nzType="primary"
                                    nzDanger
                                    nz-popconfirm
                                    nzPopconfirmTitle="Are you sure to delete this news?"
                                    (nzOnConfirm)="onDeleteNews(news.id)"
                                >
                                    <i nz-icon nzType="delete"></i>
                                    Delete
                                </button>
                            </nz-space>
                        </td>
                        <ng-template #tagsBlock>
                            <div *ngIf="news.tags.length == 1; else multipleTagsBlock">
                                <nz-tag
                                    ><strong>{{ news.tags[0] }}</strong></nz-tag
                                >
                            </div>
                            <ng-template #multipleTagsBlock>
                                <nz-badge [nzCount]="news.tags.length">
                                    <nz-tag nz-popover nzPopoverTitle="Tags" [nzPopoverContent]="renderMultipleTagsBlock"
                                        ><strong>ALL TAGS</strong></nz-tag
                                    >
                                </nz-badge>
                                <ng-template #renderMultipleTagsBlock>
                                    <nz-tag *ngFor="let tag of news.tags">{{ tag }}</nz-tag>
                                </ng-template>
                            </ng-template>
                        </ng-template>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </nz-space>
</nz-card>
