<div class="news-grid-container">
    <section class="news-content">
        <nz-card
            style="width: 100%; height: 100%; overflow-y: auto; background: #cecbe8"
            [nzTitle]="titleNewsTemplate"
            [nzExtra]="extraTemplate"
            [nzBorderless]="true"
            [nzBodyStyle]="{ border: 'none' }"
        >
            <nz-spin nzTip="Loading..." [nzSpinning]="loading">
                <div *ngIf="weHaveNews; else elseBlock">
                    <div *ngFor="let news of newsListFiltered" nz-card-grid [ngStyle]="gridStyle">
                        <app-news-shower
                            [id]="news.id"
                            [title]="news.title"
                            [description]="news.description"
                            [content]="news.markdownText"
                            [views]="news.views"
                            [likes]="news.likes.length"
                            [comments]="news.comments.length"
                            [cover]="news.cover"
                            [tags]="news.tags"
                        ></app-news-shower>
                    </div>
                </div>
                <ng-template #elseBlock>
                    <nz-empty nzNotFoundContent="No news"></nz-empty>
                </ng-template>
            </nz-spin>
        </nz-card>
        <ng-template #titleNewsTemplate>
            <div *ngIf="isUserLogged | async; else notLoggedMessage">
                <h3 nz-typography>Hello, {{ (userInfo | async)!.name }} 👋</h3>
                <span nz-typography nzType="secondary">Ready for your daily dose of news?</span>
            </div>
            <ng-template #notLoggedMessage>
                <h3 nz-typography>Hello there! 👋</h3>
                <span nz-typography nzType="secondary">Consider to login to enjoy all of your content!</span>
            </ng-template>
        </ng-template>
        <ng-template #extraTemplate>
            <nz-space nzAlign="center">
                <nz-radio-group *nzSpaceItem [(ngModel)]="radioValue">
                    <label nz-radio-button nzValue="P">
                        <i nz-icon nzType="fire-fill"></i>
                        Popular
                    </label>
                    <label nz-radio-button nzValue="N">
                        <i nz-icon nzType="hourglass-fill"></i>
                        Newest
                    </label>
                </nz-radio-group>
                <nz-divider *nzSpaceItem nzType="vertical"></nz-divider>
                <nz-input-group *nzSpaceItem [nzSuffix]="suffixIconSearch" [nzSize]="'large'">
                    <input type="text" nz-input placeholder="Search..." [nzSize]="'large'" [(ngModel)]="filterText" (input)="filterNews()" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <span nz-icon nzType="search"></span>
                </ng-template>
            </nz-space>
        </ng-template>
    </section>
    <section class="news-footer">
        <nz-pagination
            [nzPageIndex]="pageIndex"
            [nzTotal]="totalNews"
            nzShowSizeChanger
            [nzPageSize]="pageSize"
            (nzPageIndexChange)="updatePageIndex($event)"
            (nzPageSizeChange)="updatePageSize($event)"
        ></nz-pagination>
    </section>
</div>
