<div class="login-background">
    <div class="login-grid-container">
        <div nz-row nzJustify="center" class="full-height full-width">
            <div nz-col nzMd="12" class="full-height full-width">
                <nz-space class="login-content-container full-width full-height" nzDirection="vertical">
                    <h1 *nzSpaceItem nz-typography>Welcome back</h1>
                    <span *nzSpaceItem nz-typography nzType="secondary">Please insert your user information.</span>
                    <span *nzSpaceItem nz-typography>Username</span>
                    <nz-input-group *nzSpaceItem nzPrefixIcon="user" [nzStatus]="usernameInputStatus">
                        <input type="text" nz-input placeholder="Username" [(ngModel)]="username" />
                    </nz-input-group>
                    <span *nzSpaceItem nz-typography>Password</span>
                    <nz-input-group *nzSpaceItem nzPrefixIcon="lock" [nzStatus]="passwordInputStatus">
                        <input type="password" nz-input placeholder="Password" [(ngModel)]="password" />
                    </nz-input-group>
                    <button *nzSpaceItem nz-button nzType="primary" nzBlock (click)="login()">Log in</button>
                    <span *nzSpaceItem nz-typography nzType="secondary">
                        Don't have an account? consider to
                        <span nz-typography>
                            <a [routerLink]="'/singup'">
                                Singup
                                <Link />
                            </a>
                        </span>
                    </span>
                </nz-space>
            </div>
            <div nz-col nzMd="12" class="full-height full-width">
                <nz-space class="art-container full-width full-height" nzDirection="vertical">
                    <img
                        *nzSpaceItem
                        nz-image
                        width="500px"
                        nzSrc="https://cdn.discordapp.com/attachments/999832468691632218/1024041916284813333/logo2branco.png"
                        alt=""
                    />
                    <h3 *nzSpaceItem nz-typography class="white-text">The best news community out there!</h3>
                </nz-space>
            </div>
        </div>
    </div>
</div>
