.news-content-grid {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(150px, 4fr) minmax(60px, 1fr) minmax(60px, 1fr) minmax(60px, 1fr);
    grid-template-rows: 100px 50px;
    grid-template-areas:
        'img content likes comments views'
        'img tags    actv  actv     actv';
    margin-bottom: 5px;
}

section.news-content-img {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fefefe;
}

section.news-content-content {
    grid-area: content;
    background: #fefefe;
}

section.news-content-views {
    grid-area: views;
    background: #fefefe;
}

section.news-content-likes {
    grid-area: likes;
    background: #fefefe;
}

section.news-content-comments {
    grid-area: comments;
    background: #fefefe;
}

section.news-content-activity {
    grid-area: actv;
    display: flex;
    align-items: center;
    background: #fefefe;
}

section.news-content-tags {
    grid-area: tags;
    display: flex;
    align-items: center;
    background: #fefefe;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.news-text-container {
    width: calc(100%);
    height: calc(100%);
    padding: 0.5rem;
}

.text-content {
    width: calc(90%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}

.lg-image-hide {
    display: block;
}

@media only screen and (max-width: 1200px) {
    .lg-image-hide {
        display: none;
    }

    .news-content-grid {
        grid-template-areas:
            'content content likes comments views'
            'tags    tags    actv  actv     actv';
    }

    section.news-content-tags {
        padding: 0.5rem;
    }
}
