<div class="grid-container">
    <section class="header-logo-name">
        <img
            nz-image
            height="60px"
            nzSrc="https://cdn.discordapp.com/attachments/999832468691632218/1009964486968496148/logotransparente.png"
            alt=""
        />
    </section>
    <section class="header-menu">
        <a nz-button nzType="text" [nzSize]="'large'" routerLink="home">
            <i nz-icon nzType="file-text-fill" class="white-text text-nowrap"></i>
            <span class="white-text text-nowrap">News</span>
        </a>
        <a nz-button nzType="text" [nzSize]="'large'">
            <i nz-icon nzType="smile-fill" class="white-text text-nowrap"></i>
            <span class="white-text text-nowrap">Users</span>
        </a>
        <a nz-button nzType="text" [nzSize]="'large'">
            <i nz-icon nzType="trophy-fill" class="white-text text-nowrap"></i>
            <span class="white-text text-nowrap">Artists</span>
        </a>
    </section>
    <section class="header-button">
        <div *ngIf="logged | async; else elseBlock" style="width: 100%">
            <nz-space class="user-drodown-container" nzAlign="center">
                <button nz-button nzType="text" *nzSpaceItem>
                    <span nz-icon style="font-size: 18px">
                        <svg
                            version="1.1"
                            id="Layer_1"
                            xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px"
                            y="0px"
                            viewBox="0 0 495 495"
                            style="enable-background: new 0 0 495 495"
                            xml:space="preserve"
                        >
                            <g>
                                <path
                                    style="fill: #ffcd00"
                                    d="M495,267.5v-40h-74.324c-3.799-33.108-16.904-63.424-36.634-88.257l52.61-52.61l-28.285-28.284
l-52.609,52.609c-24.834-19.731-55.15-32.835-88.257-36.634V0h-40v74.324c6.565-0.753,13.236-1.154,20-1.154v348.66
c-6.764,0-13.435-0.401-20-1.154V495h40v-74.324c33.107-3.799,63.423-16.904,88.257-36.634l52.609,52.609l28.285-28.284
l-52.61-52.61c19.731-24.833,32.835-55.149,36.634-88.257H495z"
                                />
                                <path
                                    style="fill: #ffda44"
                                    d="M247.5,73.17c-6.764,0-13.435,0.401-20,1.154c-33.107,3.799-63.423,16.904-88.257,36.634
L86.634,58.349L58.349,86.633l52.61,52.61c-19.731,24.833-32.835,55.149-36.634,88.257H0v40h74.324
c3.799,33.108,16.904,63.424,36.634,88.257l-52.61,52.61l28.285,28.284l52.609-52.609c24.834,19.731,55.15,32.835,88.257,36.634
c6.565,0.753,13.236,1.154,20,1.154V73.17z"
                                />
                            </g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                            <g></g>
                        </svg>
                    </span>
                    <span style="color: #fff">Light</span>
                </button>
                <nz-divider *nzSpaceItem nzType="vertical"></nz-divider>
                <nz-avatar
                    *nzSpaceItem
                    nzSize="large"
                    [nzSrc]="(userInfo | async)!.avatar"
                    style="cursor: pointer"
                    (click)="showProfileDrawer()"
                ></nz-avatar>
            </nz-space>
            <nz-drawer [nzClosable]="false" [nzVisible]="showProfile" nzPlacement="right" (nzOnClose)="hideProfileDrawer()">
                <ng-container *nzDrawerContent>
                    <nz-card style="width: 100%" [nzCover]="coverTemplate" [nzActions]="[actionEdit, actionLogOut]">
                        <nz-space nzDirection="vertical" nzAlign="center" style="width: 100%">
                            <nz-avatar *nzSpaceItem [nzSize]="64" [nzSrc]="(userInfo | async)!.avatar"></nz-avatar>
                            <span *nzSpaceItem nz-typography>
                                <strong>{{ (userInfo | async)?.name }}</strong>
                            </span>
                            <span *nzSpaceItem nz-typography nzType="secondary">{{ (userInfo | async)!.type }}</span>
                        </nz-space>
                    </nz-card>
                    <ng-template #avatarTemplate>
                        <nz-avatar nzSize="large" nzIcon="user"></nz-avatar>
                    </ng-template>
                    <ng-template #coverTemplate>
                        <img nz-image [nzSrc]="(userInfo | async)!.cover" [nzFallback]="imgFall" />
                    </ng-template>
                    <ng-template #actionEdit>
                        <span nz-icon nzType="user" nz-tooltip nzTooltipTitle="Profile" (click)="onEditProfile()"></span>
                    </ng-template>
                    <ng-template #actionLogOut>
                        <a nz-icon nzType="logout" nz-tooltip nzTooltipTitle="Logout" (click)="onLogout()" nzDanger></a>
                    </ng-template>
                </ng-container>
            </nz-drawer>
        </div>
        <ng-template #elseBlock>
            <nz-space>
                <button *nzSpaceItem nz-button nzType="primary" [nzSize]="'large'" (click)="onLogin()">
                    <i nz-icon nzType="login"></i>
                    Log In
                </button>
            </nz-space>
        </ng-template>
    </section>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>
